In [11]:
import numpy as np
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

Setup Complete

# Context

## Load the data

In [19]:
passenger_data = pd.read_csv('./train.csv', index_col='PassengerId')
passenger_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
0,1,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,1,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S

`Survived` - Survival (0 = No; 1 = Yes)
`Pclass` - Passenger airline class (1 = first, 2 = bussiness, 3 = economy).
 `Name` - Passenger name.
 `Sex` - Sex (male, female).
 `Age` - Age in years.
 `SibSp` - Number of Siblings/Spouses Aboard
 `Parch` - Number of Parents/Children Aboard
 `Ticket` - Ticket number.
 `Fare` - Ticket fare.
 `Cabin` - Tabin (optional).
 `Embarked` - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

In [18]:
passenger_data.describe()

,Survived,Pclass,Age,SibSp,Parch,Fare
count,100000.000000,100000.000000,96708.000000,100000.000000,100000.000000,99866.00000
mean,0.427740,2.106910,38.355472,0.397690,0.454560,43.92933
std,0.494753,0.837727,18.313556,0.862566,0.950076,69.58882
min,0.000000,1.000000,0.080000,0.000000,0.000000,0.68000
25%,0.000000,1.000000,25.000000,0.000000,0.000000,10.04000
50%,0.000000,2.000000,39.000000,0.000000,0.000000,24.46000
75%,1.000000,3.000000,53.000000,1.000000,1.000000,33.50000
max,1.000000,3.000000,87.000000,8.000000,9.000000,744.66000

# Data quality assessment

# Data exploration

# Summary